.welcomeBannerThemeContainer {
    -fx-background-image: url("../image/welcome_banner_theme.png");
}

.progressBarAppLoading {
    -fx-accent: #197a09;
}

.appThemeContainer {
    -fx-background-image: url("../image/main_scene_theme.png");
}

.textArea *.text {
    -fx-text-alignment: center;
}